* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html,
body {
  background-color: #D1D0D9;
}

button {
  outline: none;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 720px;
  padding: 60px;

}

.list-container {
  margin-top: 42px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 60px 100px;
  min-width: 720px;
  background: #F5F5F5;
  border-radius: 20px;
}

.todo-form {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 5px 20px;
  gap: 8px;
  min-width: 520px;
  height: 47px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 999px;
  outline: transparent none;
}

.todo-title {
  font-size: 24px;
  font-weight: 500;
}

.todo-input {
  width: 64px;
  height: 36px;
  flex: 1;
  font-size: 16px;
  outline: none;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.add-button {
  width: 55px;
  height: 37px;
  padding: 5px 8px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background: #526F92;
  border-radius: 999px;
  outline: none;
  border:none;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 5px 20px;
  gap: 8px;
  min-width: 520px;
  height: 47px;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 999px;
  outline: transparent none;
}

.item-inner {
  display: flex;
  gap: 10px;
}

.delete-button {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 10px;
  background: #FFFFFF;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #E07C7C;
  padding: 10px 20px;
}
