* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html,
body {
  background-color: #D1D0D9;
}

button {
  outline: none;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 720px;
  padding: 60px;
  background-color: #D1D0D9;
}

.list-container {
  margin-top: 42px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 60px 100px;
  min-width: 720px;
  background: #F5F5F5;
  border-radius: 20px;
}

.progress-section {
  padding: 20px;
  background-color: #576371;
  color: #fff;
  border-radius: 20px;
}

.completed-text {
  color: #e0e0e0;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.filter-button {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  background-color: white;
  width: 90px;
  font-size: 13px;
}

.filter-button-options {
  position: absolute;
  z-index: 10;
  bottom: -105px;
  width: 100px;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 5px;
}

.filter-button-option {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 14px;
}

.filter-active {
  background-color: #526F92;
  color: #fff;
}

.filter-inactive {
  background-color: #fff;
  color: #2e2e2e;
}

.todo-form {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 5px 20px;
  gap: 8px;
  min-width: 520px;
  height: 47px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 999px;
  outline: transparent none;
}

.todo-title {
  font-size: 24px;
  font-weight: 500;
}

.todo-input {
  width: 64px;
  height: 36px;
  flex: 1;
  font-size: 16px;
  outline: none;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.add-button {
  width: 55px;
  height: 37px;
  padding: 5px 8px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background: #526F92;
  border-radius: 999px;
  outline: none;
  border:none;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 5px 20px;
  gap: 8px;
  min-width: 520px;
  height: 47px;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 999px;
  outline: transparent none;
}

.item-inner {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type=checkbox]{
  accent-color: #526f92;
  background-size: 15px;
  width: 22px;
  height: 22px;
  border: 2px solid #526f92;
  outline-color: #526f92;
}

input[type=checkbox]:checked {
  accent-color: #526f92;
  background-color: #526f92;
  border: 2px solid #526f92;
}

.delete-button {
  position: absolute;
  cursor: pointer;
  font-size: 14px;
  top: 20px;
  right: 4px;
  background: #FFFFFF;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #E07C7C;
  padding: 10px 20px;
}
